<div class="container">
    <div style="display: flex; flex-wrap: wrap; max-height: 100%;">
        <div style="width: 100%; display: flex;">
            <div class="profile-picture">
                <app-random-roney></app-random-roney>
            </div>
            <h1 style="margin: auto;">Roney Mendes</h1>
        </div>
        <hr style="width: 100%;">
        <div style="overflow: hidden; max-height: 100%;">
            Roney ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae tempus dolor,
            sed venenatis felis. Sed rhoncus mauris et auctor vehicula. Mauris a vestibulum dolor.
            Duis sed lorem quis enim semper aliquet. In in pellentesque augue. Quisque pulvinar, enim vitae pharetra semper,
            felis lectus tempor justo, et volutpat sapien mi nec sem. Etiam dolor libero, dignissim sed vehicula pulvinar,
            efficitur et lacus. Praesent ipsum elit, sodales eget viverra vitae, rhoncus in tellus. Ut eget gravida eros,
            vel tincidunt nibh. Fusce lacinia enim turpis, nec malesuada est cursus a.
            sed venenatis felis. Sed rhoncus mauris et auctor vehicula. Mauris a vestibulum dolor.
            Duis sed lorem quis enim semper aliquet. In in pellentesque augue. Quisque pulvinar, enim vitae pharetra semper,
            felis lectus tempor justo, et volutpat sapien mi nec sem. Etiam dolor libero, dignissim sed vehicula pulvinar,
            efficitur et lacus. Praesent ipsum elit, sodales eget viverra vitae, rhoncus in tellus. Ut eget gravida eros,
            vel tincidunt nibh. Fusce lacinia enim turpis, nec malesuada est cursus a.
        </div>
    </div>
</div>