<div class="components">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Viewport lazy load</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="" alt=""> -->
        <mat-card-content>
          <p>
           Exemplo de view carregada cadenciada baseado no viewport
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  routerLink="/viewport-exemple">Checar</button>
        </mat-card-actions>
      </mat-card>
</div>
