<div class="components">

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Viewport lazy load</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="" alt=""> -->
        <mat-card-content>
          <p>
           Exemplo de view carregada cadenciada baseado no viewport
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  routerLink="/viewport-exemple">Checar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Lista infinita com defer viewport</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="" alt=""> -->
        <mat-card-content>
          <p>
           Exemplo de lista carregada baseado no viewport
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  routerLink="/list-exemple">Checar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Exemplo de defer com interatividade</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="" alt=""> -->
        <mat-card-content>
          <p>
           Exemplo de lista carregada baseado no viewport
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  routerLink="/interactive-exemple">Checar</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Exemplo de signal</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="" alt=""> -->
        <mat-card-content>
          <mat-form-field class="example-form-field">
            <mat-label>Mande uma mensagem</mat-label>
            <input matInput type="text" [(ngModel)]="message">
            @if (message) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="message=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  (click)="sendMessage()">Enviar mensagem</button>
        </mat-card-actions>
      </mat-card>

</div>


