  <div class="container">
    <div style="display: flex; flex-wrap: wrap; margin-bottom: 100px; justify-content: space-around;">
        @for (repeat of repeats; track repeat) {
          <div style="display: block; width: 400px; height: 300px; margin: 40px;">
            <app-item></app-item>
          </div>
        }
    </div>
    @defer (on viewport) {
        <app-basic-table></app-basic-table>
      } @loading (after 100ms; minimum 1s) {
        <app-loader></app-loader>
      } @placeholder {
        <div>Placeholder</div>
      }
  </div>
